manifest {
    name            = 'scPolASeq'
    author          = 'Codex scaffold'
    mainScript      = 'main.nf'
    nextflowVersion = '>=24.04.0'
}

plugins {
    id 'nf-schema@2.2.1'
}

params {
    input                      = null
    genome_fasta               = null
    gtf                        = null
    known_polya                = null
    priming_blacklist          = null
    cell_metadata              = null
    cluster_assignments        = null
    cell_type_labels           = null
    outdir                     = 'results'
    run_mode                   = 'full'
    aligner                    = 'starsolo'
    protocol_mode              = '10x_3p'
    enable_internal_clustering = true
    grouping_levels            = 'cluster,cell_type,sample_condition_celltype'
    emit_group_bams            = false
    emit_bigwigs               = true
    publish_dir_mode           = 'copy'
    max_cpus                   = 8
    max_memory                 = '32 GB'
    max_time                   = '24 h'
}

timeline {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_timeline.html"
}

report {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_report.html"
}

trace {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_trace.txt"
}

dag {
    enabled = true
    file    = "${params.outdir}/pipeline_info/pipeline_dag.html"
}

includeConfig 'conf/base.config'
includeConfig 'conf/modules.config'

profiles {
    test        { includeConfig 'conf/test.config' }
    docker      { includeConfig 'conf/docker.config' }
    singularity { includeConfig 'conf/singularity.config' }
    local       { includeConfig 'conf/local.config' }
    slurm       { includeConfig 'conf/slurm.config' }
}
