process {
    executor      = 'local'
    cpus          = 2
    memory        = '8 GB'
    time          = '4 h'
    errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'finish' }
    maxRetries    = 1

    withLabel: process_single {
        cpus   = 1
        memory = '4 GB'
        time   = '2 h'
    }

    withLabel: process_medium {
        cpus   = 2
        memory = '8 GB'
        time   = '4 h'
    }

    withLabel: process_high {
        cpus   = 4
        memory = '16 GB'
        time   = '8 h'
    }

    withLabel: process_python {
        cpus   = 2
        memory = '8 GB'
        time   = '4 h'
    }

    withLabel: process_r {
        cpus   = 2
        memory = '8 GB'
        time   = '4 h'
    }
}

params.monochrome_logs = true
