process {
    withName: STARSOLO_ALIGN_SC {
        ext.args = '--soloType CB_UMI_Simple --outSAMtype BAM SortedByCoordinate --outSAMattributes NH HI nM AS CR UR CY UY CB UB GX GN'
    }

    withName: GPU_SPLICED_ALIGN_SC {
        ext.args = '--placeholder'
    }

    withName: GROUPED_3PRIME_COVERAGE {
        ext.args = '--min-mapq 255 --count-mode 3prime'
    }

    withName: APA_QUANTIFY_SITE_USAGE {
        ext.args = '--dedup-key CB,UB,gene,site_bin,strand'
    }

    withName: APA_TEST_DIFFERENTIAL_USAGE {
        ext.args = '--fdr 0.05 --min-replicates 2'
    }
}
