params {
    input               = "${projectDir}/tests/data/samplesheet.csv"
    genome_fasta        = "${projectDir}/tests/data/reference.fa"
    gtf                 = "${projectDir}/tests/data/reference.gtf"
    known_polya         = "${projectDir}/tests/data/known_polya.tsv"
    priming_blacklist   = "${projectDir}/tests/data/priming_blacklist.bed"
    cell_metadata       = "${projectDir}/tests/data/cell_metadata.tsv"
    outdir              = "${projectDir}/tests/results"
    run_mode            = 'full'
    aligner             = 'starsolo'
    protocol_mode       = '10x_3p'
    emit_group_bams     = false
    emit_bigwigs        = true
}

process {
    executor = 'local'
}
